@import "box_reset.scss";
@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";


body {
    min-height: 100vh;
    font-family: $font;
    
    background-color: $primary-color;
    @include centered-flex-item;
}

#wrapper {
    max-width: 850px;
    background-color: $secondary-color;
    padding: 10px;
}

.header {
    padding: 10px;

    h1 {
        font-size: 24px;
    }
}

.footer{
    font-size: 14px;
}